{% extends 'base.html' %}
{% load static %}

{% block title %}
    Item Detail
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/items/detail.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-transform: capitalize">{{ object.title }} </h1>
        {% if object.image %}
            <img src="{{ object.image.url }}" class="item-img"> <br/>
        {% endif %}
    {{ object.description }} <br/>
    {{ object.price }} <br/>

    <div>
        {{ cart }}
        {% if object in cart.items.all %}
            In cart <button>Remove</button>
        {% else %}
            <button>Add to cart</button>
        {% endif %}
    </div>
{% endblock %}