{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/eCommerce/register_and_login.css' %}">
{% endblock %}

{% block content %}
    <div class="register-and-login-block">
    <form method="post">
        {% csrf_token %}

        {% for f in form %}
            {{ f.name.title }}
            {{ f }} <br>
        {% endfor %}


        <button type="submit"
                class="btn-default">
            Submit
        </button>

    </form>
    </div>
{% endblock %}