{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/items/register_and_login.css' %}">
{% endblock %}

{% block content %}
    <div class="register-and-login-block">
     <form method="post">
         {% csrf_token %}


         {{ form }} <br/>

         <button type="submit"
                class="register-and-login-block">
            Submit
         </button>

    </form>
    </div>

{% endblock %}