{% extends 'base.html' %}
{% load static %}

{% block title %}
    Carts
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/carts/home.css'%}">
{% endblock %}

{% block content %}
    <h1>Items in cart</h1>

    {% if cart.items.exists %}
        <table class="container cart-table">
            <thead>
            <tr>
                <th><h1>Item</h1></th>
                <th><h1>Price, $</h1></th>
                <th><h1>Remove</h1></th>
            </tr>
            </thead>
            <tbody class="cart-body">
            <div class="item-rows">
                {% for item in cart.items.all %}

                    <tr class="item-row">
                        <td><a href="{{ item.get_absolute_url }}"
                               style="color: #fbe266">{{ item.title.capitalize }}</a></td>
                        <td>{{ item.price }}</td>
                        <td class="button-remove-add">{% include 'items/snippets/update-card.html' with object=item cart=cart item=item %}</td>
                    </tr>

                {% endfor %}
            </div>
            <tr>
                <td style="color:#A7A1AE;">Subtotal:</td>
                <td style="font-weight: bold"><span class="subtotal">{{ cart.subtotal }}</span></td>
            </tr>
            <tr>
                <td style="color: #ffffff; font-weight: bold">Total:</td>
                <td style="color: #ffffff; font-weight: bold"><span class="total">{{ cart.total }}</span></td>
            </tr>
            </tbody>
        </table>

    {% else %}
        <p>Cart is empty</p>
    {% endif %}

    <div class="container-text-center">
        <a href="{% url 'cart:checkout' %}" class="checkout-link">Checkout</a>
    </div>

{% endblock %}
