{% url 'main-page-url' as main_url %}
{% url 'items:list' as list %}
{% url 'accounts:login' as login %}
{% url 'accounts:register' as register %}
{% url 'accounts:logout' as logout %}
{% url 'cart:home' as cart_url %}


{% load static %}

<div class='nav'>
    <ul>
        <li><a class="{% if request.path ==  main_url %}act{% endif %}"
               href='{{ main_url }}'>Home</a></li>
        <li><a class="{% if request.path == list %}act{% endif %}"
               href='{{ list }}'>Items</a>
            {% if request.user.is_authenticated %}
                <li><a class="{% if request.path == logout %}act{% endif %}"
                       href='{{ logout }}'>Logout</a></li>
            {% else %}
                <li><a class="{% if request.path ==  login %}act{% endif %}"
                       href='{{ login }}'>Login</a></li>
                <li><a class="{% if request.path == register %}act{% endif %}"
                       href='{{ register }}'>Register</a>
                </li>
            {% endif %}

        <li>
            <a class="{% if request.path == cart_url %}act{% endif %} cart-div"
               href='{{ cart_url }}'><span class="items-counter">{{ request.session.cart_total }}</span><img src="{% static 'img/cart/shopping-cart-128.png' %}" class="cart-img"></a>


        </li>


{#        <li><a href='#'>Subscription</a>#}
{#            <ul>#}
{#                <li><a href='#'>Free</a></li>#}
{#                <li><a href='#'>Bronze</a></li>#}
{#                <li><a href='#'>Sliver</a></li>#}
{#                <li><a href='#'>Gold</a></li>#}
{#            </ul>#}
{#        </li>#}


        <li class='lamp'><span></span></li>

            <li class="not-lamp"><a>
                <div class="mg-top">{% include 'search/snippets/search-form.html' %}</div></a></li>

    </ul>

</div>