{% extends 'base.html' %}
{% load static %}


{% block title %}
    Items list
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/search/view.css' %}">
{% endblock %}

{% block content %}

    <div class="search-container">
        {% include 'search/snippets/search-form.html' %}
    </div>

    {% if query %}
        <hr>
        <p>Results for <b>{{ query }}</b></p>
    {% endif %}
    
    <hr>

    {% for obj in object_list %}
        {% include 'items/snippets/card.html' with object=obj%}
    {% endfor %}
{% endblock %}