{% extends 'base.html' %}
{% load static %}


{% block title %}
    Items list
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/search/view.css' %}">
{% endblock %}

{% block content %}

    <div class="search-container">
        {% include 'search/snippets/search-form.html' %}
    </div>

    {% if query %}
        <hr>
        Results for <b>{{ query }}</b>
        <br>
    {% endif %}
    
    <hr>

    {% for obj in object_list %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.title.capitalize }}</a> <br>
    {% endfor %}
{% endblock %}