{% extends 'base.html' %}
{% load static %}


{% block title %}
    Items list
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/search/view.css' %}">
{% endblock %}

{% block content %}

    <div class="search-container">
        {% include 'search/snippets/search-form.html' %}
    </div>

    {% if query %}
        <hr>
        <p>Results for <b>{{ query }}</b></p>
    {% endif %}
    
    <hr>
    <div class="items-list">
        {% for obj in object_list %}

            {% include 'items/snippets/list-card.html' %}

        {% endfor %}
    </div>
{% endblock %}