{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block base_head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}

    <div class="search-center">
        <div class="main-img">
            <div class="search-container">
                <h3 class="text-align">Easy. Quickly. Available.</h3>
                {% include 'search/snippets/search-form.html' %}
            </div>
        </div>
    </div>
    {% if username %}
        <h1 class="center home_page_title">HaLo {{ username }}</h1>
    {% else %}
        <h1 class="center">HaLO! You can login here:
        <a href="{% url 'login-page-url' %}"
            class="href-login-register">Login</a>
        </h1>
        <h1 class="center">Or register here:
        <a href="{% url 'register-page-url' %}"
            class="href-login-register">Register</a>
        </h1>
    {% endif %}
{% endblock %}