{% extends 'main_template.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
     <form method="post">
         {% csrf_token %}


         {{ form }}
{#         {% for obj in form %}#}
{#             <div>#}
{#                {{ obj.name }}#}
{#                {{ obj }}#}
{#                {% if obj.errors %}#}
{#                    {{ obj.errors }}#}
{#                {% endif %}#}
{#             </div>#}
{#         {% endfor %}#}

         <button type="submit"
                class="btn-default">
            Submit
         </button>

    </form>
{% endblock %}