{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/billing/payment-method.css' %}">
{% endblock %}

{% block content %}
    <div class="form-div">
        <h1>Add Payment Method</h1>
        <div class="stripe-payment-form"
             data-token="{{publish_key}}"
             data-next-url="{% if next_url %}{{next_url}}{% endif %}"
             data-btn-title="Add New Card"
        >
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/billing/payment-method.js' %}"></script>
{% endblock %}