{% load static %}

<link rel="stylesheet" href="{% static 'css/items/card.css' %}">


<div class="wrapper">

    <div class="product-img">
    <a href="{% url 'items:list' %}"
        class="back">Back</a>
      {% if object.image %}
        <img src="{{ object.image.url }}" width="318" > <br/>
          {% else %}
          <p>Sorry. There is a problem with image...</p>
    {% endif %}
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ object.title.capitalize }}</h1>
          <br>
        <p>{{ object.description.capitalize }}</p>

      </div>
      <div class="product-price-btn">
        <p class="price">$<span>{{ object.price }}</span></p>

          {% include 'items/snippets/update-card.html' with item=object %}

      </div>
    </div>
  </div>

