<form class="form-item-ajax" method="post" action="{% url 'cart:update' %}">
    {% csrf_token %}
    <input type="hidden" name="item_id" value="{{ item.id }}">

    <span class="submit-span">
        {% if object in cart.items.all %}
            <div>
            <button type="submit"
                    id="{{ item.id }}"
                    style="background-color: #ee6666">Remove</button>
            </div>
        {% else %}
            <div>
            <button type="submit"
                    id="{{ item.id }}"
                    style="background-color: lightgreen">Add to cart</button>
            </div>
        {% endif %}
    </span>
</form>
